name: Test

on:
  push:
    branches:
      - "**"
      - "!main"

jobs:
  default:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: "24.x"
          cache: "yarn"

      - run: corepack enable

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint

      - name: Run tests
        run: yarn test
